.qa {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
}

.qa__score {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.qa__bold {
  font-weight: 700;
}

.qa__number {
  font-weight: 600;
  color: var(--primary);
}

.qa__semibold {
  font-weight: 600;
  color: var(--secondary-text);
}

.qa__secondarytextcolor {
  color: var(--secondary-text);
}

.piechart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.piechart__img {
  position: absolute;
}
