.main {
  height: 100vh;
}
.sub__layout {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
}
.right__layout {
  margin-right: 1rem;
  grid-column: span 2 / span 2;
}
.main__layout {
  margin-left: 1rem;
  grid-column: span 3 / span 3;
}
.sidebar_layout {
  grid-column: span 1 / span 1;
}
